.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
div.galeri {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    }
      
div.galeri:hover {
    border: 1px solid #777;
    }
      
div.galeri img {
    width: 100%;
    height: auto;
    }
      
div.desc {
    padding: 15px;
    text-align: center;
    }
div.col#ust{
    background-color: lightgray;
}

#sehir{
    background-color:aliceblue;
   
    background-repeat: no-repeat;
    background-size: 10%;

}
div.row{
    background-color: azure;
}
#foto{
    height: auto;
}
#foto1{
    height: auto;
}
h1{
    color: darkred;
}
#ust{
    background-color: lightgray;
}
#kart
{
    position: absolute;
    left: 350px;
    top: 2100px;
}
#kartkiz{
    position: absolute;
    left: 200px;
}
#ozgecmis{
    background-color: lightgray;
}
#index{
    background-color: lightgray;
}
#ilgi{
    background-color: aliceblue;
}
#ilgibc{
    
}
.col-md-10 mx-auto{
    background-size: 25%;
}
.column{
    float:left;
    width: 33.3%;
    padding: 5px;
}